<template>
  <div id="catalog" class="py-4">
    <h2 class="text-center font-weight-bold mb-4">925 STERLING SILVER CATALOG</h2>
    <b-container>
      <b-row>
        <b-col
          class="item"
          md="4"
          v-for="(link, index) in links"
          :key="index"
          @click="$router.push(`/products/${link.url}`)"
        >
          <b-img :src="link.img" fluid/>
          <p class="text-center">{{link.text}}</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    links: [
      {
        text: "Sterling Silver Earring",
        url: "earring",
        img: "https://i.ibb.co/PmxfgBs/earring.jpg"
      },
      {
        text: "Sterling Silver Pendant",
        url: "pendant",
        img: "https://i.ibb.co/Sw95D6C/pendant.jpg"
      },
      {
        text: "Sterling Silver Ring",
        url: "ring",
        img: "https://i.ibb.co/bKxRgZg/ring.jpg"
      },
      {
        text: "Sterling Silver Bangle",
        url: "bangle",
        img: "https://i.ibb.co/VTqHSnx/bangle.jpg"
      },
      {
        text: "Sterling Silver Chain",
        url: "chain",
        img: "https://i.ibb.co/Cbbqty4/chain.jpg"
      },
      {
        text: "Others",
        url: "others",
        img: "https://i.ibb.co/yfYR4bk/other.jpg"
      }
    ]
  })
};
</script>

<style scoped>
img {
  border: 1px solid #b09555;
  transition: box-shadow 0.3s;
}

img:hover {
  box-shadow: 0 0 40px rgba(40, 40, 40, 0.2);
  cursor: pointer;
}
</style>



