<template>
  <div>
    <b-carousel
      id="carousel1"
      style="text-shadow: 1px 1px 2px #333;"
      controls
      indicators
      background="#ababab"
      :interval="4000"
      img-width="1024"
      img-height="480"
      v-model="slide"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >

      <b-carousel-slide img-src="https://i.ibb.co/mJnqTTd/header-toko.jpg"></b-carousel-slide>

      <b-carousel-slide img-src="https://i.ibb.co/9qqxVW2/header-tukang.jpg"></b-carousel-slide>

      <b-carousel-slide img-src="https://i.ibb.co/X43KscV/header-model-3.jpg"></b-carousel-slide>

      <b-carousel-slide img-src="https://i.ibb.co/M7kLNXW/header-model-4.jpg"></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null
    };
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true;
    },
    onSlideEnd (slide) {
      this.sliding = false;
    }
  }
};
</script>