<template>
  <footer class="bg-primary text-white">
    <b-container>
      <b-row class="py-2 contact">
        <b-col md="4">
          <div><i class="fas fa-phone fa-flip-horizontal"></i> +62817565156</div>
          <div><i class="fas fa-envelope-square"></i> wijayana.yanisilver@gmail.com</div>
        </b-col>
        <b-col
          md="4"
          class="text-center copyright"
        >
          <div>© Yani Silver 2018</div>
        </b-col>
        <b-col
          md="4"
          class="socmed"
        >
          <div class="sosial-links">
            <a href="https://www.youtube.com/user/cibunk"><i
                style="margin-left:-2px;"
                class="fab fa-youtube"
              ></i></a>
            <a href="tel:+62817565156"><i class="fab fa-whatsapp"></i></a>
            <a href="https://web.facebook.com/komang.cibunk"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/yanisilver/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/komang-wijayana-6382926b/?originalSubdomain=id"><i class="fab fa-linkedin-in"></i></a>
            <a
              href="mailto:wijayana.yanisilver@gmail.com"
              target="_top"
            ><i class="fas fa-envelope-square"></i></a>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>


<style scoped>
.copyright,
.socmed {
  position: relative;
}

.copyright div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  font-size: 1.2em;
}

.socmed div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.sosial-links a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #000;
  border-radius: 20px;
  margin-right: 7px; /*space between*/
}
.sosial-links a i {
  padding: 8px 9px;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact div,
  .socmed div,
  .copyright div {
    padding: 5px 0;
    text-align: center;
    top: unset;
    transform: none;
    left: unset;
    position: relative;
  }
}
</style>
