<template>
  <nav class="navbar">
    <div class="logo">
      <div class="logo-image">
        <img src="~/assets/logo.svg">
      </div>
      <div class="logo-text">
        <div class="wrap-logo-text">
          <div>
            <span style="font-size: 42px">Yani Bali Silver</span>
          </div>
          <div>
            <span style="font-size: 25px;">Est Bali 1987</span>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="link">
        <div>
          <p>
            <nuxt-link to="/">Home</nuxt-link>
          </p>
        </div>
        <div>
          <p>
            <nuxt-link to="/#catalog">Catalog</nuxt-link>
          </p>
        </div>
        <div>
          <p>
            <nuxt-link to="/#about-us">About Us</nuxt-link>
          </p>
        </div>
        <div>
          <p>
            <nuxt-link to="/#how-to-order">How to Order</nuxt-link>
          </p>
        </div>
        <div>
          <p>
            <nuxt-link to="/#contact-us">Contact Us</nuxt-link>
          </p>
        </div>
      </div>
      <div class="contact">
        <div>
          <p>
            <i class="fas fa-phone fa-flip-horizontal"></i> +62817565156
          </p>
        </div>
        <div>
          <p>
            <i class="fas fa-envelope-square"></i> wijayana.yanisilver@gmail.com
          </p>
        </div>
      </div>
    </div>
  </nav>
</template>

<style scoped>
.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.logo-image {
  margin: auto;
}

.logo-image img {
  height: 90px;
}

.logo-text {
  width: fit-content;
}

.wrap-logo-text {
  display: grid;
  width: auto;
  font-size: 2em;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  padding-top: 20px;
}

.navigation {
  display: grid;
}

.link,
.contact {
  display: flex;
  justify-content: center;
  position: relative;
}

.link div,
.contact div {
  padding: 0 23px;
}

.link div p,
.contact div p {
  font-size: 1.2em;
  margin: 0;
}
</style>


<script>
export default {
  data: () => ({
    navbar: ""
  })
};
</script>
