<template>
  <nav class="navbar">
    <div class="logo">
      <div class="logo-image">
        <img src="~/assets/logo.svg">
      </div>
      <div class="logo-text">
        <div class="wrap-logo-text">
          <div>
            Yani Bali Silver
          </div>
          <div>
            <span style="font-size:25px;">Est Bali 1987</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <b-container fluid>
        <b-row>
          <b-col cols="6">
            Home
          </b-col>
          <b-col cols="6">
            Catalog
          </b-col>
          <b-col cols="6">
            About Us
          </b-col>
          <b-col cols="6">
            How to Order
          </b-col>
          <b-col cols="6">
            Contact Us
          </b-col>
        </b-row>
      </b-container>
    </div>
  </nav>
</template>

<style scoped>
.container {
  margin-top: 10px;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  margin: auto;
}

.logo-image {
  margin: auto;
}

.logo-image img {
  height: 90px;
}

.logo-text {
  width: fit-content;
}

.wrap-logo-text {
  display: grid;
  width: auto;
  font-size: 2em;
  text-align: center;
}

.navbar {
  padding-top: 20px;
  border-bottom: 1px solid #b09555;
}
</style>

