<template>
  <div class="icon-bar">
    <a
      href="#"
      class="facebook"
    >
      <i class="fab fa-facebook"></i>
    </a>
    <a
      href="#"
      class="twitter"
    >
      <i class="fab fa-twitter"></i>
    </a>
    <a
      href="#"
      class="google"
    >
      <i class="fab fa-google"></i>
    </a>
    <a
      href="#"
      class="linkedin"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="#"
      class="youtube"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      class="hideSocmed bg-primary"
      @click="hideSocmed()"
    >
      Hide
    </a>
  </div>
</template>

<script>
export default {
  methods: {
    hideSocmed () {
      this.$emit('clicked', false)
    }
  }
}
</script>


<style scoped>
.icon-bar {
  z-index: 100;
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px 9px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.hideSocmed {
  cursor: pointer;
}

.hideSocmed:hover {
  color: white !important;
  background-color: #000 !important;
}
</style>
