@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Lora-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Lora-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-BoldItalic.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Lora-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

a {
  color: #b09555;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora" !important;
}

h2 {
  font-size: 29px;
  font-variant-caps: all-petite-caps;
}

.bg-primary {
  background-color: #b09555 !important;
}

button.bg-primary:hover {
  background-color: #b09555 !important;
  filter: contrast(80%);
}

.bg-secondary {
  background-color: #000 !important;
}

.font-secondary {
  color: #000 !important;
}
