<template>
  <div>
    <b-container>
      <list></list>
    </b-container>
  </div>
</template>

<script>
import List from "@/components/Product/List";

export default {
  components: {
    List
  }
};
</script>
