<template>
  <div>
    <section class="container">
      <navbar id="navbar-desktop"></navbar>
      <navbar-mobile id="navbar-mobile"></navbar-mobile>
    </section>
    <socmed v-if="show && show2" @clicked="hideSocmed"></socmed>
    <nuxt/>

    <comp-footer></comp-footer>
  </div>
</template>

<script>
import CompFooter from "@/components/footer";
import Navbar from "@/components/Navbar";
import NavbarMobile from "@/components/NavbarMobile";
import Socmed from "@/components/Socmed";

export default {
  data() {
    return {
      show: true,
      show2: true
    };
  },
  components: {
    CompFooter,
    Navbar,
    NavbarMobile,
    Socmed
  },
  methods: {
    hideSocmed(value) {
      this.show2 = value;
    },
    hideSoc() {
      this.show = false;
    },
    showSoc() {
      this.show = true;
    }
  },
  mounted() {
    window.addEventListener("touchmove", this.hideSoc);
    window.addEventListener("touchend", this.showSoc);
  }
};
</script>

<style scoped>
#navbar-desktop {
  display: flex;
}

#navbar-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  #navbar-desktop {
    display: none;
  }

  #navbar-mobile {
    display: flex;
  }
}
</style>


