<template>
  <div>
    <h4 class="mt-4 pb-0 mb-0">925 Sterling Silver Catalog</h4>
    <ul>
      <li
        v-for="(catalog, index) in link"
        :key="index"
      >
        <nuxt-link
          class="font-primary"
          :to="catalog.url"
        >{{catalog.text}}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data: () => ({
    link: [
      { text: 'Earring', url: 'earring' },
      { text: 'Bangle', url: 'bangle' },
      { text: 'Pendant', url: 'pendant' },
      { text: 'Chain', url: 'chain' },
      { text: 'Ring', url: 'ring' },
      { text: 'Others', url: 'others' },
    ]
  })
}
</script>

<style scoped>
ul {
  margin-top: 10px;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
 
 justify-content: center;
}

li:first-child {
  margin-left: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}
</style>

