<template>
  <div>
    <b-container>
      <catalog-inline />
      <h2>{{$route.params.catalog}}</h2>
      <b-row class="py-2 contact">
        <b-col
          md="3"
          cols="6"
          v-for="(product, index) in products"
          :key="index"
        >
          <b-card
            v-b-modal.myModal
            :img-src="product.img"
            class="mb-3"
            @click="viewModal(product)"
          >
            <div class="card-text">
              <p class="alignleft">{{product.code}}</p>
              <p class="alignright font-primary">{{product.price}}</p>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>

    <!-- the modal detail product -->
    <b-modal
      title="Detail Product"
      id="myModal"
      size="md"
      centered
    >
      <b-container>
        <b-row>
          <b-col md="6">
            <a
              :href="detail.img"
              target="_blank"
            >
              <b-img
                :src="detail.img"
                fluid
                center
              />
            </a>
            <b-btn
              v-b-modal.orderModal
              block
              class="bg-primary mb-4"
            >How to Order</b-btn>
          </b-col>
          <b-col md="6">
            <div class="card-text">
              <h3 class="alignleft">{{detail.code}}</h3>
              <h3 class="alignright font-primary">{{detail.price}}</h3>
            </div>
            <p style="clear:both;">Description Product is here</p>
          </b-col>
        </b-row>
      </b-container>
      <div
        slot="modal-footer"
        class="w-100"
      >
      </div>
    </b-modal>

    <!-- the modal detail product -->
    <b-modal
      title="How to order"
      id="orderModal"
      size="lg"
      centered
    >
      <b-container>
        <p class="h5 font-weight-bold my-sm-4">ORDERING STEP</p>
        <ul>
          <li>Please send us the code and quantities of the items that you interest to our email at (logo email) wijayana.yanisilver@gmail.com or (logo whatsapp) +62817565156</li>
          <li>
            Once you send us a list that you interest, we will send a confirmation within 24 hours to let you
            know that we have receive your request.
          </li>
          <li>
            Then we will make a pro-forma invoice which outline cost of silver order, total weight, and time
            of expected delivery.
          </li>
          <li>
            Your order will shipped directly from Bali to your address after we received payment
            confirmation.
          </li>
        </ul>
        <p class="h5 font-weight-bold my-sm-4">PAYMENT</p>
        <p class="font-weight-bold">- Paypal</p>
        <p>komangwijayana@yahoo.com</p>
        <p class="font-weight-bold">- T/T (Telegraphic Transfer) / Wire Transfer</p>
        <p>Bank Name : DANAMON BANK - TEUKU UMAR DPS
          <br>Account No. : 003549749400
          <br>Swift Code : BDI NIDJA
          <br>Branch Code : 360 BDI TEUKU UMAR
          <br>Bank Address : TEUKU UMAR No. 121C, DENPASAR, BALI, INDONESIA
          <br>Beneficiary Name : I KOMANG WIJAYANA
          <br>
        </p>
        <p class="font-weight-bold">- Western Union</p>
        <p class="h5 font-weight-bold my-sm-4">MINIMUM ORDER</p>
        <p>- No minimum piece per items as long as the total is US$ 100.</p>
        <p>- There is more 5% discount if the total amount over than US$ 500 and 10% discount if total amount over than US$ 1,000.</p>
        <p>- If the total amount over than US$ 1,500 you can ask for more discount by email.</p>
        <p class="h5 font-weight-bold my-sm-4">SHIPPING</p>
        <div class="shipping-image">
          <img
            class="img-fluid"
            src="~/assets/images/ups-logo.svg"
          >
          <img
            class="img-fluid"
            src="~/assets/images/ems-logo.svg"
          >
          <img
            class="img-fluid"
            src="~/assets/images/fedex.svg"
          >
        </div>
        <p>Approximately 3-5 days delivery time</p>
      </b-container>
      <div
        slot="modal-footer"
        class="w-100"
      >
      </div>
    </b-modal>
  </div>
</template>

<script>
import CatalogInline from "@/components/product/CatalogInline";
import { mapMutations, mapGetters } from 'vuex'

export default {
  components: {
    CatalogInline
  },
  data: () => ({
    detail: {
      img: '...',
      price: '...',
      code: '...'
    }
  }),
  computed: {
    products () {
      return this.$store.getters.getProducts(this.$route.params.catalog)
    }
  },
  methods: {
    viewModal (product) {
      this.detail = product
    }
  }
}
</script>


<style scoped>
.card {
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
</style>
