<template>
  <section class="container">
    <slider class="my-4"></slider>
    <catalog></catalog>
    <how-to-order class="my-4"></how-to-order>
    <about-us class="my-4"></about-us>
    <contact-us class="mb-4"></contact-us>
  </section>
</template>

<script>
import HowToOrder from "@/components/home/HowToOrder";
import Slider from "@/components/home/Slider";
import AboutUs from "@/components/home/AboutUs";
import ContactUs from "@/components/home/ContactUs";
import Catalog from "@/components/home/Catalog";

export default {
  components: {
    HowToOrder,
    Slider,
    Catalog,
    AboutUs,
    ContactUs
  },
  mounted() {
    const findEl = async (hash, x) => {
      return (
        document.querySelector(hash) ||
        new Promise((resolve, reject) => {
          if (x > 50) {
            return resolve();
          }
          setTimeout(() => {
            resolve(findEl(hash, ++x || 1));
          }, 100);
        })
      );
    };
  }
};
</script>

<style>
</style>
